# WireGuard profile '{{ item[1].tunnel }}'
# Generated at {{ now(utc=true,fmt='%Y-%m-%d %H:%M:%S') }}, for user '{{ item[0].name }}'
[Interface]
Address = {{
  ([wg_tunnel_prefix_ipv6 | ansible.utils.ipaddr(i) | ansible.utils.ipaddr('address') ~ '/128'] if wg_ipv6_enable | bool else []) | union(
  ([wg_tunnel_prefix_ipv4 | ansible.utils.ipaddr(i) | ansible.utils.ipaddr('address') ~ '/32'] if wg_ipv4_enable | bool else [])) |
  sort(reverse=True) | ansible.utils.ipaddr | join(',')
}}
PrivateKey = {{ item[0].private_key }}
DNS = {{ [wg_resolver] | union(wg_dns_search_domains) | join(',') }}
[Peer]
PublicKey = {{ wg_public_key }}
PresharedKey = {{ item[0].preshared_key }}
Endpoint = {{ wg_hostname }}:{{ wg_public_port }}
AllowedIPs = {{ item[1].allowedips | ansible.utils.cidr_merge | join(',') }}
{% if peer_persistentkeepalive|int > 0 %}
PersistentKeepalive = {{ peer_persistentkeepalive }}
{% endif %}
