[Interface]
Address = {{ wg_tunnel_ipv4_prefix | ipaddr(i) | ipaddr('address') }}/32,{{ wg_tunnel_ipv6_prefix | ipaddr(i)|ipaddr('address') }}/128
PrivateKey = {{ item[0].private_key }}
DNS = {{ [wg_resolver] | union(wg_dns_search_domains) | join(',') }}
[Peer]
PublicKey = {{ wg_public_key }}
PresharedKey = {{ item[0].preshared_key }}
# Hardcode the IPv4 address so we are not dependent on possibly flakey/rogue local resolvers
Endpoint = {{ wg_hostname }}:{{ wg_port }}
AllowedIPs = {{ item[1].allowedips | join(',') }}

