# {{ ansible_managed }}
[Interface]
Address = {{ wg_tunnel_prefix_ipv4 | ansible.utils.ipaddr('1') }},{{ wg_tunnel_prefix_ipv6 | ansible.utils.ipaddr('1') }}
ListenPort = {{ wg_port }}
PrivateKey = {{ wg_private_key }}
# public key = {{ wg_public_key }}
{% if wg_postup is defined %}
PostUp = {{ wg_postup }}
{% endif %}
{% if wg_postdown is defined %}
PostDown = {{ wg_postdown }}
{% endif %}

{% for client in wg_clients %}
# {{ client.name }}
[Peer]
PublicKey = {{ client.public_key }}
PresharedKey = {{ client.preshared_key }}
AllowedIPs = {{ wg_tunnel_prefix_ipv4 | ansible.utils.ipaddr(loop.index+1) | ansible.utils.ipaddr('address') }}/32,{{ wg_tunnel_prefix_ipv6 | ansible.utils.ipaddr(loop.index+1)|ansible.utils.ipaddr('address') }}/128
{% endfor %}
