{% if not stealth_mode %}
# {{ ansible_managed }}
{% endif %}
[Interface]
Address = {{ wg_tunnel_prefixes | join(',') }}
ListenPort = {{ wg_port }}
PrivateKey = {{ wg_private_key }}
{% if not stealth_mode %}
# public key = {{ wg_public_key }}
{% endif %}
{% if wg_postup is defined %}
PostUp = {{ wg_postup }}
{% endif %}
{% if wg_postdown is defined %}
PostDown = {{ wg_postdown }}
{% endif %}

{% for client in wg_clients %}
{% if not stealth_mode %}
# {{ client.name }}
{% endif %}
[Peer]
PublicKey = {{ client.public_key }}
PresharedKey = {{ client.preshared_key }}
AllowedIPs = {{
  ([wg_tunnel_prefix_ipv6 | ansible.utils.ipaddr(loop.index+1) | ansible.utils.ipaddr('address') ~ '/128'] if wg_ipv6_enable else []) | union(
  ([wg_tunnel_prefix_ipv4 | ansible.utils.ipaddr(loop.index+1) | ansible.utils.ipaddr('address') ~ '/32'] if wg_ipv4_enable else [])) |
  sort(reverse=True) | ansible.utils.ipaddr | join(',') }}
{% endfor %}
