[Unit]
Description=WireGuard via wg-quick(8) for %I
After=network-online.target
PartOf=wg-quick.target
Documentation=man:wg-quick(8)
Documentation=man:wg(8)
Documentation=https://www.wireguard.com/
Documentation=https://www.wireguard.com/quickstart/
Documentation=https://git.zx2c4.com/wireguard-tools/about/src/man/wg-quick.8
Documentation=https://git.zx2c4.com/wireguard-tools/about/src/man/wg.8

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/wg-quick up %i
ExecStop=/usr/bin/wg-quick down %i
ExecReload=/bin/bash -c 'exec /usr/bin/wg syncconf %i <(exec /usr/bin/wg-quick strip %i)'
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity
{% if ddbg.stat.exists %}
{# This does NOT work on raspbian: https://github.com/raspberrypi/linux/issues/3486 #}
ExecStartPost=/bin/bash -c "echo module wireguard +p > {{ wg_kernel_debug_control_file }}"
{% endif %}

[Install]
WantedBy=multi-user.target
